<section class="tasks-category">
  <p class="tasks-category__task-type tasks-category__task-type--active">
    All Tasks
  </p>
  <p class="tasks-category__task-type">Incomplete Tasks</p>
  <p class="tasks-category__task-type">Completed Tasks</p>
</section>

<main class="tasks-container">
  <div class="tasks">
    <div class="task">
      <div class="task__header">
        <p class="task__title">Task 1</p>
        <div class="task__btns">
          <button class="task__btns__complete">Complete &#x2714;</button>
          <button class="task__btns__delete">Delete &#10006;</button>
        </div>
      </div>
      <p class="task__description">
        Lorem Ipsum is simply dummy text of the printing and typesetting
        industry. Lorem Ipsum has been theindustry's standard dummy text ever
        since the 1500s, when an unknown printer took a galley of type and
        scrambled it to make a type specimen book. It has survived not only five
        centuries, but also the leap into electronic typesetting, remaining
        essentially unchanged. It was popularised in the 1960s with the release
        of Letraset sheets containing Lorem Ipsum passages, and more recently
        with desktop publishing software like Aldus PageMaker including versions
        of Lorem Ipsum.
      </p>
    </div>
  </div>
</main>
