.header {
  background-color: #212529;
  border-radius: 1rem;
  padding: 2rem 3rem;
  display: flex;
  align-items: center;
  justify-content: space-between;

  &__title-section {
    animation: moveInLeft 0.5s;

    &__primary {
      display: flex;
      align-items: center;
      // justify-content: center;
      color: #f5eee6;

      &__text {
        font-size: 5rem;
        margin-right: 2rem;
      }

      &__img-container {
        width: 50px;

        &__img {
          width: 100%;
          object-fit: contain;
        }
      }
    }

    &__sub-title {
      color: #f5eee6;
      font-size: 1.4rem;
      text-align: center;
      letter-spacing: 0.13rem;
      margin-top: 0.3rem;
      font-style: italic;
    }
  }

  &__btns {
    display: flex;
    align-items: center;

    &__new-task {
      font-size: 1.6rem;
      background-color: #f5eee6;
      padding: 1rem 2rem;
      border-radius: 100rem;
      font-weight: 500;
      color: #212529;
      margin-right: 2rem;
      cursor: pointer;
      letter-spacing: 0.05rem;
      transition: hover 0.2s;
      animation: moveInRight 0.5s;

      &:hover {
        background-color: #4a5759;
        color: #f5eee6;
      }
    }

    &__user {
      width: 4rem;
      border: 2px solid #f5eee6;
      border-radius: 50%;
      padding: 0.8rem;
      font-size: 2.5rem;
      display: flex;
      justify-content: center;
      align-items: center;
      color: #f5eee6;
      cursor: pointer;
      transition: hover 0.2s;
      position: relative;
      animation: moveInRight 0.5s;

      &__img {
        width: 100%;
        object-fit: contain;
      }

      &:hover {
        color: #4a5759;
        border-color: #4a5759;
      }
    }
  }
}

.user-dropdown {
  z-index: 10;
  background-color: #4a5759;
  position: absolute;
  top: 4rem;
  left: 0rem;
  color: #f5eee6;
  font-size: 2.4rem;
  font-weight: 500;
  width: 15rem;
  border-radius: 0.3rem;

  &__my-profile {
    border-bottom: 2px solid #f5eee6;
    padding: 1rem 2rem;
    animation: openDropdown 0.2s;
  }

  &__logout {
    padding: 1rem 2rem;
    animation: openDropdown 0.2s;
  }
}
