/* You can add global styles to this file, and also import other style files */

@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");

// CSS RESET
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Noto Sans", sans-serif;
  font-size: 62.5%;
}

body {
  background-image: url("../public/pattern.svg");
  background-color: #f5eee6;
  width: 100vw;
  height: 100vh;
  padding: 3rem 20rem;

  &::-webkit-scrollbar {
    width: 1em;
  }

  &::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  }

  &::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    outline: 1px solid slategrey;
  }
}

button {
  border: none;
  outline: none;
  padding: 0;
  margin: 0;
  background-color: transparent;
  font-family: initial;
}

input {
  border: none;
  outline: none;
  padding: 0;
  margin: 0;
  background-color: transparent;
  font-family: initial;
}

// Animations
@keyframes openDropdown {
  0% {
    opacity: 0;
    transform: translateY(-1rem);
  }

  100% {
    opacity: 100%;
    transform: translateY(0);
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(1rem);
  }

  100% {
    opacity: 100%;
    transform: translateY(0);
  }
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-1rem);
  }

  100% {
    opacity: 100%;
    transform: translateY(0);
  }
}
